body{

	background:#FF69B4;
}

.tea{
	
	width: 400px;
	height: 600px;
	margin:0 auto;	

	
	
}

h1{
	border: dotted white 30px;
	text-align: center;
	font-size: 300px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	

}
 
.three{
	border: dotted white 30px;
	margin:0 auto;
	text-align: center;
	font-size: 150px;

} 

.center{
	margin:0 auto;
	text-align: center;
	padding-bottom: 170px;



}

.justify{
	border: dotted white 30px;
	font-size: 100px;
	text-align: justify;
	text-align: center;

	
}

.Whitetext{

	color: #00FF99
}
	background: rgba(235,233,249,1);
background: -moz-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 61%, rgba(206,199,236,1) 85%, rgba(193,191,234,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,233,249,1)), color-stop(61%, rgba(216,208,239,1)), color-stop(85%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
background: -webkit-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 61%, rgba(206,199,236,1) 85%, rgba(193,191,234,1) 100%);
background: -o-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 61%, rgba(206,199,236,1) 85%, rgba(193,191,234,1) 100%);
background: -ms-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 61%, rgba(206,199,236,1) 85%, rgba(193,191,234,1) 100%);
background: linear-gradient(to right, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 61%, rgba(206,199,236,1) 85%, rgba(193,191,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
	

    
    